<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>
    <br>
    <div class="form-control">
      <mat-form-field>
        <input required matInput placeholder="ФИО" formControlName="name">
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <mat-label>Пол</mat-label>
        <mat-select required formControlName="sex">
          <mat-option value="Мужской">Мужской</mat-option>
          <mat-option value="Женский">Женский</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control icon">
      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input required matInput [matDatepicker]="picker" placeholder="Выберете дату" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- показывается если больше 18 лет  -->
    <div class="form-control" *ngIf="dateOfBirthr > 18">
      <mat-form-field>
        <mat-label>Семейное положение</mat-label>
        <mat-select required formControlName="familyStatus">
          <mat-option value="Замужем">Замужем</mat-option>
          <mat-option value="Женат">Женат</mat-option>
          <mat-option value="В разводе">В разводе</mat-option>
          <mat-option value="нет">нет</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Количество детей" formControlName="child">
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input required matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>

    <mat-form-field class="comment">
      <textarea matInput placeholder="Комментарий" formControlName="comment"></textarea>
    </mat-form-field>

    <button routerLink="form-page" mat-raised-button color="primary" (click)="submit()">Сохранить</button>

  </form>
</div>
