<main>
    <header>
      <p>Files</p>
      <button id="btn">SORT</button>
    </header>

        <div class="accordion" >
            <dl *ngFor="let item of Data.tree">
            <!-- Folder name-->
                <dt>
                    <a href="#" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                      {{item.name}} <span class="span">{{item.children.length}}</span> </a>
                </dt>
            <!-- Inside folder -->
                <dd  class="accordion-content accordionItem is-collapsed" aria-hidden="true">
                  <ng-container *ngFor="let i of item.children" >
                    <p  *ngIf="i.type != 'folder'">{{i.name}}</p>
                  </ng-container>

                            <!-- 2 -->

                        <dl *ngFor="let child of item.children">
                          <!-- Folder name-->
                          <dt>
                            <ng-container *ngIf="child.type == 'folder'">
                              <a href="#" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                                {{child.name}} <span class="span">{{child.children.length}}</span></a>
                            </ng-container>
                          </dt>

                          <!-- Inside folder -->
                          <dd class="accordion-content accordionItem is-collapsed" aria-hidden="true">
                            <ng-container *ngFor="let chld of child.children">
                              <p *ngIf="chld.type != 'folder'">{{chld.name}}</p>

                              <!-- 3 -->

                              <dl >
                                <!-- Folder name-->
                                <dt>
                                  <ng-container *ngIf="chld.type == 'folder'">
                                    <a href="#" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                                      {{chld.name}} <span class="span">{{chld.children.length}}</span></a>
                                  </ng-container>
                                </dt>
                                <!-- Inside folder -->
                                <dd class="accordion-content accordionItem is-collapsed" aria-hidden="true">
                                  <ng-container *ngFor="let chld2 of chld.children">
                                    <p> {{chld2.name}} </p>
                                  </ng-container>
                                  <p style="color: coral" *ngIf="chld.type == 'folder' && chld.children.length == 0">empty...</p>
                                </dd>
                              </dl>

                            </ng-container>




                          </dd>
                        </dl>


                </dd>
            </dl>
        </div>

</main>
